/* General body styles scoped to a class */
.products-page-body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Inter', sans-serif;
}

/* Heading styles scoped to a class */
.products-page h1,
.products-page h5 {
  color: white;
}

/* Filter section styles */
.products-page .filter-section {
  background-color: rgba(0, 0, 0, 1);
  margin-top: 15px;
  border: 1px solid grey;
  border-radius: 8px;
  color: white;
  margin-top: 120px;
}

.products-page .product-card {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid grey;
  border-radius: 8px;
  overflow: hidden;
  height: 450px;
  display: flex;
  flex-direction: column;
}
.products-page .card-img-top {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.products-page .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.products-page .card-body .card-title {
  color: white;
}

.products-page .price {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 10px;
}

.products-page .btn-secondary {
  background-color: #555;
  border: none;
}

.products-page .btn-secondary:hover {
  background-color: #333;
}

/* Form control styles */
.products-page input.form-control {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.products-page input.form-control::placeholder {
  color: lightgray;
}

.products-page input.form-control:focus {
  background-color: black;
  color: white;
  border: 1px solid white;
  outline: none;
}

.products-page .form-check-input {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.products-page .form-check-input:checked {
  background-color: black;
  border-color: white;
  color: black;
}

.products-page .form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.products-page .form-check-label {
  color: white;
}

.products-page .search-bar-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 50px;
}

.products-page .search-bar {
  width: 70%;
  padding-right: 40px;
  border-radius: 25px;
  margin-top: 15px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.products-page .search-bar::placeholder {
  color: grey;
}

.products-page .search-icon-button {
  position: absolute;
  right: 31.5%;
  bottom: 12%;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 1;
}

.products-page .search-icon-button:hover {
  color: grey;
}