@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  background-color: black;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo-container img {
  max-width: 600px;
  height: auto;
  margin-bottom: 2rem;

  /* animation */
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0s;
  opacity: 0;
}

.logo-container .headline {
  font-family: 'Bodoni Moda', serif;
  font-size: 2rem;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;

  /* animation */
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.arrow-container {
  position: absolute;
  bottom: 2rem;
  left: 48.5%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* animation */
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

.arrow {
  position: absolute;
  width: 100%;
  left: 50%;
  height: auto;
  animation: moveUpDown 2s infinite;
  transition: transform 0.2s ease-in-out;
}

.arrow-container:hover .arrow {
  transform: scale(1.1);
}

/* arrow animation */
@keyframes moveUpDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@media screen and (max-width: 550px) {
  .logo-container img {
    max-width: 400px;
  }
  .logo-container .headline {
    font-size: 1.8rem;
  }
  .arrow-container {
    left: 44%;
  }
}

/* bestsellers section */
.bestsellers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
  overflow: hidden;
}

.title-container {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Product Card Styling */
.product-card {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card:hover {
  transform: scale(1.03);
}

.card-img-top {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-body {
  text-align: center;
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.btn-block {
  width: 100%;
}

/* Responsive */
@media (max-width: 600px) {
  .slick-slide {
    padding: 5px;
  }

  .product-card {
    max-width: 100%;
  }

  .card-img-top {
    height: 180px;
  }
}

.view-all-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: white;
  background-color: #444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Bodoni Moda', serif;
}

.view-all-btn:hover {
  background-color: #666;
}

/* newsletter section */
.newsletter-container {
  background-color: #f2f2f2;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.newsletter-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.newsletter-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 500px;
}

.newsletter-input {
  flex: 1;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.newsletter-input::placeholder {
  color: #999;
}

.subscribe-btn {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #555;
}

.unsubscribe-btn {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background-color: #999;
  color: white;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unsubscribe-btn:hover {
  background-color: #777;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .newsletter-container {
    padding: 1rem;
    height: 50vh;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 1rem; /* Add space between input and button for stacking */
  }

  .newsletter-input,
  .subscribe-btn {
    width: 100%;
    border-radius: 5px;
  }
  .unsubscribe-btn {
    width: 100%;
    border-radius: 5px; /*comment*/
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}
