@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    background-color: black;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo-container img {
    max-width: 600px;
    height: auto;
    margin-bottom: 2rem;

    /* animation */
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0s; 
    opacity: 0;
}

.logo-container .headline {
    font-family: 'Bodoni Moda', serif;
    font-size: 2rem;
    color: white;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;

    /* animation */
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s; 
    opacity: 0;

}

.arrow-container {
    position: absolute;
    bottom: 2rem;
    left: 48.5%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 60px; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 

    /* animation */
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 2s; 
    opacity: 0;
}

.arrow {
    position: absolute;
    width: 100%; 
    left: 50%;
    height: auto;
    animation: moveUpDown 2s infinite;
    transition: transform 0.2s ease-in-out;
}

.arrow-container:hover .arrow {
    transform: scale(1.1); /* Slight zoom on hover for better interactivity */
}

/* arrow animation */
@keyframes moveUpDown {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@media screen and (max-width: 550px) {
    .logo-container img {
        max-width: 400px; /* Reduce logo size for smaller screens */
    }
    .logo-container .headline {
        font-size: 1.8rem; /* Adjust headline size */
    }
    .arrow-container {
        left: 44%;
    }
}

/* bestsellers section */
.bestsellers-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    overflow: hidden;
}

.title-container {
    font-family: 'Bodoni Moda', serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    min-height: 600px;
    overflow: hidden;
}

.bestseller-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
    color: white;
    overflow: hidden;
}

.carousel-item {
    display: flex !important;
    height: 90%;
}

.react-multi-carousel-track {
    display: flex !important;
    height: 100%;
}

.bestseller-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    padding: 2rem;
    background-color: #222;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    gap: 2rem;
}

.bestseller-image {
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.bestseller-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.bestseller-info h1 {
    font-size: 4rem;
    margin: 0;
}

.bestseller-info p {
    font-size: 2rem;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}

.view-product-btn {
    padding: 0.8rem 1.5rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    font-family: 'Bodoni Moda', serif;
}

.view-product-btn:hover {
    background-color: #777;
}

.bestseller-info .divider {
    width: 25%; /* Adjust line width as needed */
    height: 1px;
    background-color: white;
    margin: 1rem 0; /* Spacing around the line */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .bestseller-content {
        flex-direction: column; /* Stack image and info vertically on smaller screens */
        gap: 1rem;
    }

    .bestseller-image {
        width: 100%; /* Full width for the image on small screens */
        height: auto;
    }

    .bestseller-info {
        width: 100%; /* Full width for the information */
        text-align: center; /* Center text on smaller screens */
    }
}

.view-all-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Bodoni Moda', serif;
}

.view-all-btn:hover {
    background-color: #666;
}


